# Node modules
node_modules/
node_modules

# Logs
*.log
npm-debug.log*

# Diretórios de build
dist/
build/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de configuração do ambiente
.env

# Dependências do Visual Studio Code
.vscode/

# Arquivos de backup do editor
*~
